//============================
//    Name: Main page
//============================

$$mainColor = #ccc;
$$black = #2b2c33;
$$gray = #f5f5f5;
$$yellow = #fada5f;

myform {
	+__() {
		.section--background {
			background-color $$gray;
			height 100%
		}
		.box {
			display: grid;
			max-width 1200px
			margin 0 auto
			padding 2rem 0
		}
		.title {
			display: grid;
			grid-auto-columns: max-content;
		}
		.h2 {
			color: $$black;
			position relative
			&:before {
				content: '';
				display: grid;
				width: 100%;
				height: 4px;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: $$yellow;
				position: absolute;
				bottom 0
				left 0
			}
		}
		.h4 {
			margin-top 2rem
			color: $$black
		}
	}
}

myformfilter {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			gap: 1rem;
			margin-top: 1rem;
		}
		.item {
			xcolor = $$black;
			radius: 6px;
			background-color #ffffff;
			padding .9rem 24px
			font-setup(fmain, 15px, 400)
			text-decoration: none;
			color: xcolor;
			border 1px solid #0000;
			transition .25s __cubic
			&:focus {
				xcolor = $$mainColor;
				color: $$black
				border 1px solid rgba(xcolor, 0.16);
				box-shadow: 0 3px 6px rgba(xcolor, 0.10), 0 3px 6px rgba(xcolor, 0.16);
			}
			&:hover {
				border 1px solid rgba($$mainColor, .56);
			}
		}
	}
}

myformcontent {
	+__() {
		.section--background {
			background-color #fff;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: 1200px;
			margin-top 1rem
			radius: 0.375rem;
			padding 0.9rem .5rem
			box-shadow: 0 3px 6px rgba($$mainColor, 0.10), 0 3px 6px rgba($$mainColor, 0.16);
		}
		.group {
			display: grid;
			grid-auto-flow: row;
		}
		.header {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			gap: 1rem;
			padding: 0 1rem;
			margin-bottom 1rem
			transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			text-transform uppercase
			&-text {
				overflow: hidden;
				text-overflow: ellipsis;
				pointer-events: none;
				user-select none
			}
			&-item {
				display: grid;
				grid-auto-flow: column;
				justify-content: space-between;
				font-setup(fmain, 16, 700);
				position relative
				padding 1rem 0
				padding-bottom .4rem
				text-transform uppercase
				transition: .25s __cubic;
				&:before {
					content: '';
					display: grid;
					width: 100%;
					height: 0.25rem;
					font-size: 1rem;
					line-height: 1;
					text-align: center;
					background-color: #f2f2f2;
					position: absolute;
					bottom: 0;
					left: 0;
					user-select none;
					pointer-events: none;
				}
				&:hover {
					cursor pointer
				}
			}
		}
		.line {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			gap: 1rem;
			padding 0 1rem
			transition: .25s __cubic;
			&:hover {
				background-color #f2f2f2;
				cursor pointer
			}
			&-item {
				padding 1rem 0
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		.arrow {
			&--down {
				xsize = .88rem
				display: grid;
				width xsize
				height xsize
				fill: #ccc;
				user-select none
				pointer-events: none;
			}
		}
	}
}

.myformcontent__header-item {
	&.active,
	&:hover {
		&:before {
			content: '';
			transition: .25s __cubic;
			background-color $$yellow;
		}
	}
	&.active {
		& .myformcontent__arrow--down {
			fill: $$black;
		}
	}
}


.searchparam__select.open {
	animation dropdown-select .35s forwards
}

input.searchparam__item {
	xcolor = $$black
	xcolor2 = $$black
	&:hover + label + .searchparam__sort {
		fill: rgba(xcolor2, 0.69);
	}
	&:focus + label + .searchparam__sort {
		fill: rgba(xcolor, 1);
	}
	&:hover + .searchparam__label {
		color: rgba(xcolor2, 0.69);
	}
	&:focus + .searchparam__label {
		color: rgba(xcolor, 1);
	}
	&:focus ~ .searchparam__select {
		animation dropdown-select .35s forwards
	}
}

input[type="search"] {
	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		height: 1rem;
		width: 1rem;
		radius: 100%;
		transition .25s __cubic
		background-color: rgba($$mainColor, 0.50);
		cursor pointer
	}
	&::placeholder {
		color: rgba($$black, 0.40);
	}
}

input[type="radio"]:checked + label {
	background-color: rgba($$mainColor, 0.10);
}

+key(dropdown-select) {
	0% {
		transform translate(0, -7rem) scale(0)
	}
	45% {
		transform translate(0, -0.5rem) scale(1)
	}
	55% {
		transform translate(0, 0.5rem) scale(1)
	}
	100% {
		transform translate(0, 0rem) scale(1)
	}
}