//============================
//    Name: Header
//============================

$$header = #ffffff;
$$burger-color = #fada5f;
$$header-text = #fff6;

myheader {
	+__() {
		.burger {
			display none
			justify-content: center;
			align-items: center;
			+media(678) {
				display: grid;
			}
		}
		.menu {
			display: grid;
			gap: 0.4rem;
			padding 0 1rem
			transition .25s __cubic
			cursor pointer
			position relative
			&:before {
				content: '';
				display: grid;
				width: 3.5rem;
				height: 3.5rem;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: rgba(#fff, 0.16);;
				position: absolute;
				left -35%
				top 50%
				transform: translate(50%, -50%) scale(0);
				radius: 100%;
			}
		}
		.menu-line { 
			background-color $$burger-color;
			color: $$burger-color;
			height 4px
			width 33px
			transition .25s __cubic
			user-select none
			position relative
			z-index 2
		}
		.navigat {
			display: grid;
			grid-auto-columns: auto;
			justify-content: space-between;
			grid-auto-flow: column;
			align-items: center;
		}
		.navigat--clone {
			+min-media(678) {
				display none
				overflow hidden
			}
			padding unset
		}
		.list {
			display: grid;
			grid-auto-flow: column;
			gap: 80px;
			+media(768) {
				gap: 1rem;
			}
			+media(678) {
				height 0
				min-height 0
				overflow hidden
				grid-auto-flow: row;
				grid-auto-columns: min-content;
				transition: .25s __cubic;
				padding: 0 1.2rem 0;
			}
		}
		.list-item {
			text-decoration none
			color: $$header-text
			transition: .25s __cubic;
			&:after {
				content: '';
				display: grid;
				transform: scaleX(0);
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				border-bottom: 0.125rem solid $$burger-color;
				transform-origin: 0% 50%;
				backface-visibility: hidden;
			}
			&:hover {
				color: $$header
				+media(678) {
					margin-left: .5rem;
				}
			}
			&:hover:after {
				transform: scaleX(1);
			}
		}
		
	}
}

.myheader__list.open {
	animation humburger-grow .33s forwards
	min-height 10rem
	padding: .8rem 1.2rem 40px;
}
.myheader__menu:hover:before {
	transition: .25s __cubic;
	transform: translate(50%, -50%) scale(1);
}

+key(humburger-grow) {
	0% {
		min-height 0
	}
	100% {
		min-height 10rem
	}
}

mixHoverHumburger() {
	top = 4px
	middle = 0
	bot = -4px

	.myheader__menu-line:nth-child(1) {
		transform: translateX(top);
	}
	.myheader__menu-line:nth-child(2) {
		transform: translateX(middle);
	}
	.myheader__menu-line:nth-child(3) {
		transform: translateX(bot);
	}
}

.myheader__menu.open {
	mixHoverHumburger();
}


