<div role="contentinfo" class="myfooter__section myfooter__section--background">
	<address class="myfooter__box">
			<h3 class="myfooter__title">© 2019 Noname company..., Inc.</h3> 
	</address>
</div> 
