<section class="myform__section myform__section--background">
	<form id="myform" class="myform__box" action="#" method="POST" enctype="ultipart/form-data" autocomplete="off" onsubmit="return false;">

		<div class="myform__title"><h2 class="myform__h2">Dashboard</h2>
		</div>

		<h4 class="myform__h4">Search panel </h4>
		<div class="myformfilter myformfilter__box js__myformfilter">
			<input class="myformfilter__item" type="search" name="product" placeholder="Product">
			<input class="myformfilter__item" type="search" name="country-1" placeholder="Country">
			<input class="myformfilter__item" type="search" name="country-2" placeholder="Country">
			<input class="myformfilter__item" type="search" name="period" placeholder="Period">
			<input class="myformfilter__item" type="search" name="period" placeholder="Period">
		</div>

		<h4 class="myform__h4">Table result </h4>
		<div class="myformcontent myformcontent__box myformcontent__section--background ">
			<div class="myformcontent__group js__selectorTable">&nbsp;</div>
			
			
			<div class="myformcontent__group DEL">
				<div class="myformcontent__header">
					<div class="myformcontent__header-item">
						<span class="myformcontent__header-text">id</span>
						<span class="myformcontent__arrow--down">
							<svg role="picture-svg" class="glyphs__caret-down"><use xlink:href="#id-glyphs-caret-down"></use></svg>
						</span>
					</div>
					<div class="myformcontent__header-item">
						<span class="myformcontent__header-text">firstName</span>
						<span class="myformcontent__arrow--down">
							<svg role="picture-svg" class="glyphs__caret-down"><use xlink:href="#id-glyphs-caret-down"></use></svg>
						</span>
					</div>
					<div class="myformcontent__header-item">
						<span class="myformcontent__header-text">lastName</span>
						<span class="myformcontent__arrow--down">
							<svg role="picture-svg" class="glyphs__caret-down"><use xlink:href="#id-glyphs-caret-down"></use></svg>
						</span>
					</div>
					<div class="myformcontent__header-item">
						<span class="myformcontent__header-text">email</span>
						<span class="myformcontent__arrow--down">
							<svg role="picture-svg" class="glyphs__caret-down"><use xlink:href="#id-glyphs-caret-down"></use></svg>
						</span>
					</div>
					<div class="myformcontent__header-item">
						<span class="myformcontent__header-text">phone</span>
						<span class="myformcontent__arrow--down">
							<svg role="picture-svg" class="glyphs__caret-down"><use xlink:href="#id-glyphs-caret-down"></use></svg>
						</span>
					</div>
				</div>
				<div class="myformcontent__line">
					<div class="myformcontent__line-item">101</div>
					<div class="myformcontent__line-item">Sue</div>
					<div class="myformcontent__line-item">Corson</div>
					<div class="myformcontent__line-item">DWhalley@in.gov</div>
					<div class="myformcontent__line-item">(612)211-6296</div>
				</div>

				<div class="myformcontent__line">
					<div class="myformcontent__line-item">Lorem ipsum</div>
					<div class="myformcontent__line-item">Lorem ipsum</div>
					<div class="myformcontent__line-item">Lorem ipsum</div>
					<div class="myformcontent__line-item">Lorem ipsum</div>
					<div class="myformcontent__line-item">Lorem ipsum</div>
				</div>
			</div>
		</div>

	</form>
</section>


<div class="__device__">&nbsp;</div>
